.App {
  text-align: center;
  box-shadow: 5px 5px 5px grey;
}
.align{
  text-align: center;
}
.inline{
  display: inline-block;
}
.finished{
  margin-left: 30px;
}
.searchBar{
  margin-bottom:20px;
}
